<template>
    <require from="./challenge-selection.css"></require>
    <require from="../list_display/list-display"></require>
    <require from="../countdown-timer/countdown-timer"></require>
    
    <h1>SELECT A CHALLENGE</h1>
    <div class="selection-container">
        <div class="selection-container-item">
            <list-display></list-display>
        </div>
        <div class="selection-container-item">
            <countdown-timer></countdown-timer>
        </div>
    </div>
</template>